{% extends 'web/base.html' %}

{% block title %}Conferencias | IEEE BCN SB{% endblock title %}


  {% block content %}



<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Otros
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="{% url 'web:index' %}">
                  Inicio
                </a>
              </li>
              <li class="active">
                Otros
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->


    <!--container start-->
    <div class="container">
      <div class="row">
        <!--blog start-->
        <div class="col-lg-9 ">

      {% if otors_list %}
    <ul>
    {% for otros in otros_list %}
        <div class="blog-item">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <div class="date-wrap">
                  <span class="date">
                    {{ otro.date_start.day }}
                  </span>
                  <span class="month">
                    {{ otro.month }} {{ otro.date_start.year }}
                  </span>
                </div>

              </div>
              <div class="col-lg-10 col-sm-10">
                  {% if otro.img %}
                  <div class="blog-img">
                    <img src="{{ otro.img.url }}" alt="Imagen de la actividad"/>
                  </div>
                  {% endif %}

              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-sm-2 text-right">
                <div class="author">
                  Por
                  <a href="#">
                    {{ otro.author }}
                  </a>
                </div>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h1>
                  <a href="{% url 'web:otro' otro.id %}">
                    {{ otro.title }}
                  </a>
                </h1>
                <p>
                    {% autoescape off %}
                      {{ otro.summary }}
                    {% endautoescape %}
                </p>
                <a href="{% url 'web:otro' otro.id %}" class="btn btn-primary">
                  Mas información
                </a>
              </div>
            </div>
          </div>
    {% endfor %}
    </ul>
    {% else %}
        <h2>No hay nada que mostrar... por ahora.</h2>
    {% endif %}

        </div>

        <div class="col-lg-3">
          <div class="blog-side-item">
           <!-- Side content -->

          </div>
        </div>

        <!--blog end-->
      </div>

    </div>
    <!--container end-->

{% endblock content %}

{% block postScripts %}
  {{ block.super }}
      <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0          // default
        }
      )
        wow.init();
    </script>
{% endblock postScripts %}