{% extends 'web/base.html' %}

{% block title %}Proyecto | IEEE BCN SB{% endblock title %}


  {% block content %}

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
                {{ proyecto.title }}
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="{% url 'web:index' %}">
                  Inicio
                </a>
              </li>
              <li>
                <a href="{% url 'web:proyectos' %}">
                  Proyectos
                </a>
              </li>
              <li class="active">
                Proyecto
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->


    <!--container start-->
    <div class="container">
      <div class="row">
        <!--blog start-->
        <div class="col-lg-9 ">

        <div class="blog-item">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <div class="date-wrap">
                  <span class="date">
                    {{ proyecto.date_start.day }}
                  </span>
                  <span class="month">
                    {{ proyecto.month }} {{ proyecto.date_start.year }}
                  </span>
                </div>

              </div>
              <div class="col-lg-10 col-sm-10">
                  {% if proyecto.img %}
                  <div class="blog-img">
                    <img src="{{ proyecto.img.url }}" alt="Imagen del proyecto"/>
                  </div>
                  {% endif %}

              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-sm-2 text-right">
                <div class="author">
                  Por
                  <a href="#">
                    {{ proyecto.author }}
                  </a>
                </div>
              </div>
              <div class="col-lg-10 col-sm-10">
                <h1>
                    {{ proyecto.title }}
                </h1>
                <p>
                    {% autoescape off %}
                      {{ proyecto.description }}
                    {% endautoescape %}
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-3">
          <div class="blog-side-item">
           <!-- Side content -->

          </div>
        </div>

        <!--blog end-->
      </div>

    </div>
    <!--container end-->

{% endblock content %}

{% block postScripts %}
  {{ block.super }}
      <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0          // default
        }
      )
        wow.init();
    </script>
{% endblock postScripts %}